{% extends "base.html" %}
{% block title %} About Us {% endblock title %}
{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <h2>About Our Company</h2>
                <p>Welcome to ConstructionTools, your trusted partner in providing top-notch construction tools and equipment. With a focus on quality and reliability, we cater to both individuals and construction companies across Nigeria and Africa.</p>
                <p>Backed by years of experience and a dedication to excellence, we have earned the trust of numerous construction companies, making us a cornerstone in the industry. Our commitment to delivering only the best has not gone unnoticed, as we proudly hold several prestigious awards in recognition of our contributions to the construction sector.</p>
            </div>
            <div class="col-md-4">
                <div class="card p-3">
                    <h5>Contact Us</h5>
                    <p style="color: navy;">ConstructionTools</p>
                    <p style="color: navy;">Peaceland Estate</p>
                    <p style="color: navy;">Adesanya, Lagos</p>
                    <p style="color: navy;">Nigeria</p>
                    <p style="color: navy;">Phone: +234 8124666993</p>
                    <p style="color: navy;">Email:  ridwandada500@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
