{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}
  
  {% endblock title %}</title>
  <meta content="ConstructionTools, A market place for all types of construction tools" name="description">
  <meta content="eccommerce" name="amazon, construction">

  <!-- Favicons -->
  <!--
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">-->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static '/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />


  <!-- Template Main CSS File -->
  <link href="{% static '/assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo m-1 p-2" style="color: #1B1A55 !important; font-weight: bold;"><a href="/">Tools</a></h1>

      <!-- Uncomment below if you prefer to use an image logo -->
      <!--<a href="/" class="logo"><img src="{% static 'images/logo.png' %}" alt="logo" class="img-fluid"><em> Tools </em></a>-->
      
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active"  style="color: #fff; font-weight: bold; font-size: 20px" href="/">Home</a></li>
          <li><a class="nav-link scrollto" style="color: #fff; font-weight: bold; font-size: 17px" href="/blog">Blog</a></li>
          <li><a class="nav-link scrollto" style="color: #fff; font-weight: bold; font-size: 17px"href="/about">About Us</a></li>
          <li><a class="nav-link scrollto" style="color: #fff; font-weight: bold; font-size: 17px"href="/checkout">Checkout</a></li>
          <li><a class="nav-link scrollto" style="color: #fff; font-weight: bold; font-size: 17px"href="/profile">My Profile<i class="fa-regular fa-square-user"></i> </a></li>
          <!--<li><a class="nav-link scrollto bg-danger p-2 m-3" href="">Cart</a></li>-->
          <!-- for cart button design-->
          <!--<button type="button" class="nav-link scrollto " id="popcart" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" ><i class="fa-solid fa-cart-shopping"></i>  Cart (<span id="cart">0</span>)
          </button>-->
          <button type="button" class="nav-link scrollto bg-danger" id="popcart" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" style="background-color: #1B1A55; color: #fff; border: none; border-radius: 8px; padding: 10px 20px; font-size: 16px; font-weight: bold; cursor: pointer;">
              <i class="fa-solid fa-cart-shopping" style="margin-right: 10px;"></i>Cart (<span id="cart" style="font-weight: normal;">0</span>)
          </button>

          <li>
              <a class="nav-link scrollto bg-danger" href="/contact" style="background-color: #1B1A55; color: #fff; padding: 0.65rem 1rem; font-weight: bold; margin: 0.5rem; border-radius: 6px; text-decoration: none; display: flex; align-items: center;">
                Contact 
                <i class="fa-solid fa-message-middle" style="margin-left: 5px;"></i>
              </a>
            </li>


          {% if request.user.is_authenticated  %}
          <li>
            <a class="nav-link scrollto" href="/auth/logout/" style="color: #fff; font-weight: bold; text-decoration: none; display: flex; align-items: center;">
              Logout 
              <i class="fa-solid fa-right-from-bracket" style="margin-left: 5px;"></i>
            </a>
          </li>

          <!--<li><a  class="nav-link scrollto" href="/auth/logout/">Logout <i class="fa-solid fa-right-from-bracket"></i>-->


          
          {% else %}
          <li class="dropdown"><a href="#"><span>SignIn <i class="fa-solid fa-user"></i></span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/auth/signup/">Sign Up <i class="fa-solid fa-user"></i></a></li>
              <li><a href="/auth/login">Log-In</a></li>
              
               
            </ul>
          </li>
          {% endif %}

          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      {% block content %}
    
      
      {% endblock content %}
    </div>
  </section><!-- End Hero -->

  <main id="main">

  {% block body %}

  
  {% endblock body %}

  </main>
    
  <!-- ======= Footer ======= -->
  <footer id="footer" style="background-color: #1B1A55; color: #ffffff; padding: 60px 0;">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6 footer-contact">
                <h3 style="color: #ffffff;">ConstructionTools</h3>
                <p>
                    Peaceland Estate <br>
                    Adesanya, Lagos<br>
                    Nigeria <br><br>
                    <strong style="color: #ffffff;">Phone:</strong> +234 8124666993<br>
                    <strong style="color: #ffffff;">Email:</strong> ridwandada500@gmail.com<br>
                </p>
            </div>

            <div class="col-lg-4 col-md-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="/" style="color: #ffffff;">Home</a></li>
                    <li><a href="/about" style="color: #ffffff;">About us</a></li>
                    <li><a href="#" style="color: #ffffff;">Blog</a></li>
                    <li><a href="#" style="color: #ffffff;">Terms of service</a></li>
                    <li><a href="#" style="color: #ffffff;">Privacy policy</a></li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                    <li><a href="#" style="color: #ffffff;">We Sell Quality Tools</a></li>
                    <li><a href="#" style="color: #ffffff;">Connect you to Artisans</a></li>
                    <li><a href="#" style="color: #ffffff;">We Do Buildin Finishing</a></li>
                    <li><a href="#" style="color: #ffffff;">SoftWare Engineering</a></li>
                    <!--<li><a href="#" style="color: #ffffff;">Graphic Design</a></li>-->
                </ul>
            </div>
        </div>
    </div>

    <div class="container py-4" style="background-color: #070F2B; border-radius: 12px">
        <div class="row">
            <div class="col-md-6 p-2 text-center text-md-start">
                <div class="credits" style="color: #fff; font-size: normal; font-weight: bold;">
                  <p>Built by: Ridwan Dada</p>
                  <p>Follow me on Twitter, Linkedin, and Github </p>

                </div>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <div class="social-links" style="background-color: transparent;">
                    <a href="https://x.com/Joe_self_phu?t=fZWs8fmC5anMqWh3YzkrxA&s=09" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="https://github.com/Josephdada01" class="github"><i class="bx bxl-github"></i></a>
                    <a href="https://www.linkedin.com/in/dada-joseph-484040263" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

  <!--<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-contact">
            <h3>ConstructionTools</h3>
            <p>
              Peaceland Estate <br>
              Adesanya, Lagos<br>
              Nigeria <br><br>
              <strong>Phone:</strong> +234 8124666993<br>
              <strong>Email:</strong> ridwandada500@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <!--<div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
    <div class="copyright">
        &copy; Copyright <strong><span>ConstructionTools</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        Built by: <em>Ridwan Dada</em>
        <p>You can follow me on Twitter, Linkedin, and also check my work on Github </p>
        <!-- <a href="">Ridwan Dada. And thats my Socials</a> 
    </div>
    </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://x.com/Joe_self_phu?t=fZWs8fmC5anMqWh3YzkrxA&s=09" class="twitter"><i class="bx bxl-twitter" style="color: #124076;"></i></a>
        <a href="https://github.com/Josephdada01" class="github"><i class="bx bxl-github" style="color: #124076;"></i></a>
        <a href="https://www.linkedin.com/in/dada-joseph-484040263" class="linkedin"><i class="bx bxl-linkedin" style="color: #124076;;"></i></a>
      </div>

    </div>
  </footer><!--End Footer-->

  <!--<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>-->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center" style="background-color: #3652AD; color: #fff;"><i class="bi bi-arrow-up-short" style="color: #fff;"></i></a>


  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <script src="{% static '/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static '/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static '/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static '/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static '/assets/js/main.js' %}"></script>

</body>

</html>