{% extends "base.html" %}
{% block title %} contact {% endblock title %}
{% block body %}
<h1 class = "text-center"> Contact Us </h1>

<div class = "container mt-2">

    {% for message in messages %}

    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="close"></button>
    </div>
    
    {% endfor %}
    <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
    <form action="/contact" method="post">{% csrf_token %}
            <br>
            <label for="name">Full Name:</label>
            <div class="form-group">
                <input type="text" class="form-control p-2" id="name" name="name" value={{user.email}} required>
            </div>


            <label for="email">Email:</label>
            <div class="form-group">
                <input type="email" class="form-control p-2" id="email" name="email" required>
            </div>

            <label for="desc">How do yo want us to help you?</label>
            <div class="form-group">
                <textarea type="text" class="form-control p-2" id="desc" name="desc" required> </textarea>
            </div>

            <label for="phone_number">Phone Number</label>
            <div class="form-group">
                <input type="number" class="form-control p-2" id="phone_number" name="phone_number" required>
            </div>
            <br>
            <button type="submit" class="btn btn-dark">Submit</button>
            <br>
            <br>
            <br>
        </form>
    
    </div>
    <div class="col-md-3"></div>
    </div>
</div>

{% endblock body %} 